@charset "utf-8";
/* CSS Document */

/*reset css*/

*{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6, p, ul{margin:0; padding:0;}
a{ text-decoration:none !important;}
select{appearance:none !important; -moz-appearance:none !important; -webkit-appearance:none !important; border:none !important;
transition:.3s;}
select:active, select:focus{ border-radius:0; transition:.3s;}
input[type="submit"]{ border:none;}
body{font-family: 'Montserrat', sans-serif; overflow-x: hidden; width: 100vw;}
html,body{margin:0;padding:0;width:100%;height:100%;}
wrapper{ width:100%;}

.btn {

}


.btn-default{ transition:.3s;background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 75%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,0) 60%,rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,0) 60%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );


 border-color:#fff; color:#fff;}

.btn-primary {
 background: -moz-linear-gradient(top, rgba(0,128,255,1) 0%, rgba(0,128,255,0) 25%, rgba(0,128,255,0) 75%, rgba(0,128,255,1) 100%);
background: -webkit-linear-gradient(top, rgba(0,128,255,1) 0%,rgba(0,128,255,0) 25%,rgba(0,128,255,0) 75%,rgba(0,128,255,1) 100%);
background: linear-gradient(to bottom, rgba(0,128,255,1) 0%,rgba(0,128,255,0) 25%,rgba(0,128,255,0) 75%,rgba(0,128,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0080ff', endColorstr='#0080ff',GradientType=0 );

  border:1px solid #0080ff; transition:.3s;
  color: #fff;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus{border-color:#0080ff; background-color:#0080ff; transition:.3s; color:#fff;}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{background-color:#0080ff; transition:.3s; color:#fff; border:1px solid #0080ff;}

select {
  background: url("../images/select_arrow_down.png") no-repeat scroll right center, #0080ff none repeat scroll 0 0;
  color: #fff;
  font-family: open sans;
  font-size: 14px;
  font-weight: 400;
  height: 39px;
  padding: 0 15px;
  width: 100%;
}

.showdetails span {
  background: #0080ff none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  height: 27px;
  line-height: 24px;
  margin: 0 7px;
  text-align: center;
  width: 27px;
}

.showdetails h5 {
  color: #0080ff;
  font-size: 14px;
  font-weight: 400;
  margin: 24px 0 0;
  text-transform: capitalize;
}

.showdetails span i {
  color: #fff;
  line-height: 24px;
}
select option{-webkit-box-shadow: inset 0px 0px 0px 200px rgba(0,186,254,1);
-moz-box-shadow: inset 0px 0px 0px 200px rgba(0,186,254,1);
box-shadow: inset 0px 0px 0px 200px rgba(0,186,254,1);
padding: 5px 15px; -moz-padding:5px 15px; -webkit-padding:5px 15px;}
select option:hover{-webkit-box-shadow: inset 0px 0px 0px 200px rgba(28,102,229,1);
-moz-box-shadow: inset 0px 0px 0px 200px rgba(28,102,229,1);
box-shadow: inset 0px 0px 0px 200px rgba(28,102,229,1);}

input[type="radio"]{ margin:0 5px 0 0; vertical-align:middle;}
input[type="checkbox"]{ margin:0 5px 0 0;}

.table-responsive{  border:none; padding:0; margin:0;}
table{ width:100%;}
table thead th{ text-align:center; white-space:nowrap;}
table tbody td{text-align:center;  white-space:nowrap;}

input[type="text"], input[type="email"], input[type="password"] {
  background: transparent none repeat scroll 0 0;
  border-color: -moz-use-text-color -moz-use-text-color #2cb8d1;
  border-radius: 5px;
  border-style: none;
  box-shadow: 0px 0px 3px #D9D9D9;
  color: #2cb8d1;
  font-family: open sans;
  font-size: 14px;
  height: 40px;
  outline: medium none;
  padding: 0 11px 0 55px;
  transition: all 0.3s ease 0s;
  width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
 opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
}

input[type="text"]:active,
input[type="email"]:active,
input[type="password"]:active,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
  border-bottom: 4px solid #2cb8d1;
  transition: all 0.3s ease 0s;
}

textarea{-webkit-box-shadow: inset 2px 2px 0px 0px rgba(255,102,0,1);
-moz-box-shadow: inset 2px 2px 0px 0px rgba(255,102,0,1);
box-shadow: inset 2px 2px 0px 0px rgba(255,102,0,1);
width:100%;
font-size:16px;
color:#f6403f;
font-family:"open Sans";
min-height:110px; padding:20px 20px;
border:none;}


/* Navbar and Language Bar */
.indextopsection {
  background: #1db8d3 none repeat scroll 0 0;
}

.toplinksec ul { list-style:none;
}
.toplinksec li {
  display: inline-block;
}

.toplinksec li a{ font-family: 'Ubuntu', sans-serif; color:#fff; font-size:14px;
}

.toplinksec li {
  padding: 3px 12px 0 0;
}

.language {
  text-align: right;
}
.language button {
  font-family: 'Ubuntu', sans-serif;
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 14px;
  padding: 5px 0;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

header .navbar {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: -moz-use-text-color -moz-use-text-color #1db8d3;
  border-radius: 0;
  border-style: none none solid;
  border-width: medium medium 1px;
  margin: 0;
  min-height: auto;
}

.navbar{
  display: flex;
  align-items: center;
}

#myNavbar {
  margin-left: 10px;
}

#myNavbar a {
  color: #1db8d3;
  font-size: 20px;
  font-weight: 300;
  margin: 0px;
}

#myNavbar a:hover {
  background-color: #1db8d3 !important;
}

header .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{ border:0;}
header .navbar-nav > li{ padding:0;}

header .navbar-nav > li > a {
  font-family: "Ubuntu",sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 0 5px;
  padding: 26px 12px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  background-color: #1db8d3 !important;
  color: #fff;
}


header .navbar-nav > li > a:hover{ color:#fff !important; transition:.3s;}
header .navbar-right{margin:0;}
header .navbar-collapse{ padding:0; box-shadow:none;}
header .navbar-header a{ display: inline-block;}
header .navbar-header a img{ display: inline-block;}

.nav-logo {
  height: 60px;
  width: 60px;
}

.bitcoineff {
  background-color: transparent;
  color: #555555; text-align:center;
}

.slider {
  width:500px;
  background: rgba(0,0,0,0);
}

.dropdown-menu {
  width: 90%;
}

.banners {
  padding: 106px 0;
  position: relative;
}

/* Non-index page classes and unused classes */

/* faq content */

.faqsecde .accordion-toggle{ margin-top:20px; cursor:pointer;}
.faqsecde .accordion-toggle.active {
  background: url("../images/faqaf1.png") no-repeat scroll left center, url("../images/faq_up_arrow.png") no-repeat scroll right center, #0080ff none repeat scroll 0 0;
  color: #fff;
}

.faqsecde .accordion-toggle.active span{ color:#fff; border-color:#fff;}
.faqsecde .accordion h4 {
  background: url("../images/faqaf.png") no-repeat scroll left center, url("../images/faq_down_arrow.png") no-repeat scroll right center, #0080ff none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  display: inline-block;
  font-family: ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
  padding: 4px 0 6px 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}



.faqsecde .accordion h4 img{ display:inline-block; float:left; margin-right:10px;}

.faqsecde .accordion-content {display: none;}
.faqsecde .accordion-content p {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  color: #000;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  padding: 15px;
}

.videdes span {
  bottom: 0;
  height: 349px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 475px;
}
.videdes span img {
  padding: 140px 0 0;
}

.videdes {
  position: absolute;
}



.videdes  img {
  display: inline-block;
}

.videdes { position:relative;
  text-align: center;
  margin-top: 12px;
    padding: 15px;
}

/* core feature */

.footersoci > h3 {
  color: #0080ff;
  padding: 0 0 15px;
  text-transform: capitalize;
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
}
.title{
  color: #174a7c;
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase; position:relative;
}

.btn-info {

}

.indresgsec .btn-info {
  margin: 25px 0 0;
}

.navbar-shadow {
  box-shadow: 0px 3px 5px -2px #a9a9a9;
}

.navbar-xtra-pad {
  padding: 0px 15px;
}

.icon-bar {
  background-color: #fff;
}

.txt-ctn {
  width: 100%;
}

.spc {
  line-height: 2;
  padding:10px;
}

.mg-bt {
  margin-bottom: 13px;
}
.reltop {
  position: relative;
    top: -12px;
}
.cntr {
  text-align: center;
}

.title.centersect:before{
  left: -41px !important;
  margin: 0;
  top: 0;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  bottom: 0;
  content: "";
  height: 27px;
  width: 33px; position:absolute;
}

.centersect {
  color: #fff;
  margin: 0 0 27px;
}



.title::after {
  bottom: 0;
  content: "";
  height: 27px;
  margin: auto;
  position: absolute;
  right: -41px;
  top: 10px;
  width: 33px;
}






.rightsidehead::after {
  left: -41px !important;
  margin: 0;
  top: 0;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.keycontent h4 {
  font-size: 24px;
  font-weight: 900;
}

.keycontent h4 span {
  display: block;  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 0;
  text-transform: uppercase;
}

.keycontent p {
  color: #000;
  font-family: open sans;
  font-size: 14px;
  line-height: 24px;
  padding: 5px 0;
}

.roadmap_inner .roadmap_content {
  background: #fff none repeat scroll 0 0;
  border-radius: 50%;
  display: inline-block;
  height: 82px;
  padding: 26px 0 0;
  width: 82px;
}

.clr1 h4 {
  color: #fe8654;
}

.clr1 .roadmap_content {
  box-shadow: 0 0 0 7px #fe8654 inset;
  margin: 78px 0 0;
  position: relative;
}


.clr1 .roadmap_content::after {
  background: rgba(0, 0, 0, 0) url("../images/afic1.png") no-repeat scroll center center;
  bottom: 81px;
  content: "";
  height: 98px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 25px;
}


.clr1 .keycontent {
  margin: 0 0 42px;
}


.clr2 h4 {
  color: #288e81;
}

.clr2 .roadmap_content {
  box-shadow: 0 0 0 7px #288e81 inset;
  margin: 0 0 67px;
  position: relative;
}


.clr2 .roadmap_content::after {
  background: rgba(0, 0, 0, 0) url("../images/afic4.png") no-repeat scroll center center;
  top: 81px;
  content: "";
  height: 98px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 25px;
}


.clr2 .keycontent {
  margin: 67px 0 0;
}


.text-right {
  margin: 16px 0 27px;
  text-align: right;
}


.clr3 h4 {
  color: #5f4f98;
}

.clr3 .roadmap_content {
  box-shadow: 0 0 0 7px #5f4f98 inset;
  margin: 78px 0 0;
  position: relative;
}


.clr3 .roadmap_content::after {
  background: rgba(0, 0, 0, 0) url("../images/afic3.png") no-repeat scroll center center;
  bottom: 81px;
  content: "";
  height: 98px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 25px;
}


.clr3 .keycontent {
  margin: 0 0 42px;
}


.clr4 h4 {
  color: #9e3f5f;
}

.clr4 .roadmap_content {
  box-shadow: 0 0 0 7px #9e3f5f inset;
  margin: 0 0 67px;
  position: relative;
}


.clr4 .roadmap_content::after {
  background: rgba(0, 0, 0, 0) url("../images/afic2.png") no-repeat scroll center center;
  top: 81px;
  content: "";
  height: 98px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 25px;
}


.clr4 .keycontent {
  margin: 67px 0 0;
}



.clr5 h4 {
  color: #f3666f;
}

.clr5 .roadmap_content {
  box-shadow: 0 0 0 7px #f3666f inset;
  margin: 78px 0 0;
  position: relative;
}


.clr5 .roadmap_content::after {
  background: rgba(0, 0, 0, 0) url("../images/afic5.png") no-repeat scroll center center;
  bottom: 81px;
  content: "";
  height: 98px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 25px;
}


.clr5 .keycontent {
  margin: 0 0 42px;
}



.roadmap_section::after {
  border-bottom: 4px solid #7d8081;
  bottom: 0;
  content: "";
  height: 5px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: -11px;
  width: 99%;
}

.roadmap_section { position:relative;
}



/*
.roadmap_inner .keycontent:nth-child(5n-3) h4 {
  color: #288e81 ;
}

.roadmap_inner .keycontent:nth-child(5n-2) h4 {
  color: #5f4f98 ;
  }

.roadmap_inner .keycontent:nth-child(5n-1) h4 {
  color: #9e3f5f ;
}

.roadmap_inner .keycontent:nth-child(5n-0) h4 {
  color: #f3666f ;
}
*/

.roadmap_section .owl-controls .owl-buttons div {
  color: #7d8081;
  font-size: 20px;
  height: 29px;
  padding: 0;
  text-align: center;
  width: 11px;
}


.roadmap_section .owl-controls .owl-buttons div i{line-height:21px;}
.roadmap_section .owl-controls .owl-buttons div:hover{ cursor:pointer;}
.roadmap_section .owl-controls .owl-buttons .owl-prev{ position:absolute; left:0; top:0; bottom:0; margin:auto;}
.roadmap_section .owl-controls .owl-buttons .owl-next{ position:absolute; right:0; top:0; bottom:0; margin:auto;}

.owl-theme .owl-controls .owl-buttons div {
  background: transparent none repeat scroll 0 0;
  display: inline-block;
  opacity: 1;
}

.discrip ul {
  list-style: outside none none;
}
.discrip li {
  display: inline-block;

  text-align: right;
  vertical-align: middle;
  width: 144px;
}

.discrip li h2{ color:#0080ff; font-size:30px; font-weight:800; }

.discrip li p {
  color: #353535;
  display: inline-block;
  font-family: open sans;
  font-size: 12px;
  line-height: 22px;
  width: 107px;
}
.tokendescri {
  padding: 35px 0;
  position: relative;
  color: white !important;
}

.tokendescri h2 {
  color: white !important;
}

.tokendescri p {
  color: white !important;
}

.tokendescri::before {
  background-color: #215281;
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  width: 100%;
}

.bluclr {
  color: #0080ff;
  margin: 0 0 29px;
}



/* .indresgsec input[type="text"] {
  background: #0a243e none repeat scroll 0 0;
  border: medium none;
  border-radius: 5px;
  color: #fff;
  font-family: open sans;
  font-size: 14px;
  height: 50px;
  margin: 10px 100px;
  text-align: center;
  padding: 0 0 0 14px;
  width: 300px;
} */


.discont {
  margin: 0 11px 22px 7px;
}

.imdlisect {
  text-align: center !important;
  width: 154px !important;
}

.imdlisect img {
  display: inline-block;
}

.secdes2 {
  text-align: left !important;
}


.ourteamsec {
  background: url(../images/memaft.png) no-repeat scroll bottom center, #0a243e none repeat scroll 0 0;
  padding: 42px 0;
}

.teamdes {
  padding: 17px;
}

.teamdes h3 {
  color: #0080ff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.teamdes > h3 img {
  border-radius: 50%;
  display: inline-block;
  margin: 0 11px 0 0;
}

.teamdes > span {
  color: #fff;
  display: inline-block;
  font-family: open sans;
  font-size: 14px;
  font-weight: 600;
  padding: 11px 0 9px 16px;
  width: 100%;
}

.teamfeatdhole {
  border-radius: 14px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
  margin: 0 0 28px;
}


.socisec {
  background: #162e47 none repeat scroll 0 0;
  border-radius: 0 0 14px 14px;
  padding: 10px 0;
  text-align: center;
}

.socisec ul {
  list-style: outside none none;
}

.socisec li {
  display: inline-block;
  padding: 0 4px;
  text-align: center;
}


.socisec a {
  color: #fff;
  padding: 0 3px;
}



.teamdes > p {
  color: #fff;
  font-family: open sans;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  line-height: 24px;
  padding: 0 0 0 16px;
}


.footersec {
  background:  rgba(0, 0, 0, 0)url(../images/footerbg.jpg) no-repeat scroll center/cover;
  padding: 33px 0;
}

.footersec ul{ list-style:none;
}
.footersec li{ display:inline-block; padding:0 0 0 10px;
}
.footersec p {
  color: #fff;
  font-family: open sans;
  font-size: 14px;
  line-height: 24px;
}

.footersoci {
  text-align: right;
}

.footerbtm {
  background: #021426 none repeat scroll 0 0;
  padding: 12px 0;
}

.footerbtm h6 {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.termscontd {
  text-align: right;
}


.footerbtm ul {
  list-style: outside none none;
}


.footerbtm li {
  display: inline-block;
  padding: 0 0 0 38px;
}

.termscontd a {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.titldes {
  text-align: right;
}

.teamdes > span i {
  color: #0080ff;
  padding: 0 6px 0 0;
}





/**Dashboard**/


.dashbody{ background:#fff; color:#000;}

/*.ui-aside-compact .ui-content{ margin-left:62px;}
.ui-content-body{ margin-bottom:0; padding: 15px;}
.ui {padding-top: 62px;}
.ui-aside-compact .ui-aside { width: 62px;}
.ui-aside .nav > li > a { padding: 15px;}
.ui-aside-compact .ui-footer { margin-left: 62px;}
.ui-header{ height:62px;}
.ui-header .navbar-collapse{ height:62px;}
.ui-header .navbar-brand { padding: 0; height:62px;}
.ui-aside-compact .ui-header .navbar-header { width: 62px;}
.ui-header .nav li a i{ font-size:21px; color:#fff;}
.ui-header .navbar-collapse .navbar-nav li a{ height:62px; padding: 18px 21px; background:#8098cd;}
.ui-aside .nav li a i{ font-size:16px; color:#fff; text-align:center; width:33px; height:33px; border-radius:50%; line-height:33px;
margin-top:0; margin-right:5px;}
.ui-aside{ background-color:#312f54; border:none;}
.ui-aside::before{ background-color:#312f54;}
.ui-aside .nav > li > a > span{ line-height:33px;}
.ui-aside .nav .active{ background:none;}
.ui-aside .nav .active a i{ background:#9dbafa;}
.ui-aside .nav .active a{-webkit-box-shadow: inset -3px 0px 0px 0px rgba(157,186,250,1);
-moz-box-shadow: inset -3px 0px 0px 0px rgba(157,186,250,1);
box-shadow: inset -3px 0px 0px 0px rgba(157,186,250,1);}
.ui-aside-compact .nav > li .nav-sub{ background-color:#312f54;}
.ui-footer{ font-size:14px; color:#fff; background-color:#1b1936;}*/

.dshttl{ display:inline-block; padding: 19px 18px;}
.dshttl h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  vertical-align: middle;
}

.dshttl h4 i {
  font-size: 27px;
  margin-right: 5px; vertical-align:middle;
}


.dshtprit{ display:inline-block; float:right;}
.actadmn{ display:inline-block; vertical-align:middle;}
.actadmn h4{ font-size:16px; color:#fff; text-transform:capitalize;}
.actadmn h4 span{ display:inline-block; padding-left:15px;}
.actadmn h4 span a{ display:inline-block; position:relative;}
.actadmn h4 span a img{ display:inline-block; border-radius:50%;}
.actadmn h4 span a i {
  border-radius: 50%;
  bottom: 0;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 3px 5px;
  right: 0;
  transition: all 0.3s ease 0s;
}


.dshlnk{ display:inline-block; vertical-align:middle; padding: 19px 15px;}
.dshlnk ul{ list-style:none;}
.dshlnk ul li{ display:inline-block; margin: 0 10px;}
.dshlnk ul li a{ display:inline-block; font-size:16px; color:#fff; transition:.3s;}
.dshlnk ul li:last-child a i{ padding-left:5px;}

.dshlnk ul li a:hover{ color:#0080ff; transition:.3s;}

.hdrmnu .navbar-nav > .dropdown > a i{ margin-left:8px; font-size:12px;}

.actadmn > .open > a,
.actadmn > .open > a:focus,
.actadmn > .open > a:hover{ background:none;}

.actadmn h4 .open a i{ background-color:#0080ff !important; transition:.3s;}

.actadmn .dropdown-menu{ border:0; background:#0080ff; border-radius:0; top:55px; right:0; left: auto; min-width:auto;}
.actadmn .dropdown-menu li a{ color:#fff; text-transform:capitalize; width:100%;}
.actadmn .dropdown-menu li a:hover{ background:#fff; color:#000817;}


.dshbdytp{ width:100%; background: url(../images/dshbdytpbg.jpg) no-repeat center top fixed; background-size:cover; padding: 50px 20px 70px;}
.dshbdytpinr{ width:100%; margin-bottom:30px;}
.dshwlcm{ width:100%;}
.dshwlcm h3{ width:100%; display:inline-block; font-size:22px; color:#02ffff; font-weight:bold; text-transform:capitalize;}
.dshwlcm h3 span{ font-size:14px; color:#02ffff; text-transform:capitalize; font-weight:normal; margin:0 15px;}
.dshwlcm h3 span i{ margin-right:5px;}
.dshwlcm h3 span small{ font-size:14px; color:#fff; display:inline-block; margin: 0 18px 0 5px;}

.dshbrdcrumb{ width;100%; text-align:right; padding: 2px 0;}
.dshbrdcrumb .breadcrumb{ padding:0; margin-bottom:0;}
.dshbrdcrumb .breadcrumb li{ font-size:14px; color:#02ffff;}
.dshbrdcrumb .breadcrumb li a{ color:#fff; transition:.3s;}
.dshbrdcrumb .breadcrumb li a:hover{ color:#02ffff; transition:.3s;}
.dshbrdcrumb .breadcrumb > li + li::before{color: #02ffff; font-size:16px; font-family:"Fontawesome"; content: "\f105"; padding: 0 5px;}

.dshqlnks{ width:100%; margin-bottom:30px;}
.dshqlnkslft{ width:100%;}
.dshqlnkslft h4{ width:100%; display:inline-block; background:#fff; border-radius: 30px;}
.dshqlnkslft h4 span{ font-size:16px; color:#fff; font-weight:bold; text-transform:capitalize; background:#312f54;
vertical-align:middle; display:inline-block; padding: 16px 34px; border-radius: 30px;}
.dshqlnkslft h4 span i{ color:#fff; margin-left:5px;}
.dshqlnkslft ul{ list-style:none; display:inline-block; vertical-align:middle;}
.dshqlnkslft ul li{ display:inline-block; border-right:2px solid #312f54; padding:0 20px;}
.dshqlnkslft ul li:last-child{ border:none;}
.dshqlnkslft ul li a{ display:inline-block; font-size:16px; color:#312f54; font-weight:bold; text-transform:capitalize; transition:.3s;}
.dshqlnkslft ul li a:hover{ color:#9dbafa; transition:.3s;}
.dshqlnkslft ul li a i{ margin-left:5px;}

.dshqlnksrit{ width:100%;}
.dshqlnksrit h4{ display:inline-block; width:100%; background:#fff; font-size:16px; color:#312f54; font-weight:bold;
border-radius:30px;}
.dshqlnksrit h4 i{ font-size:18px; color:#fff; width:52px; height:52px; border-radius:50%; text-align:center; line-height:52px;
background:#312f54; display:inline-block; margin-right:15px;}
.dshqlnksrit h4 span{ font-weight:normal;}

.dshbxs{ width:100%;}
.dshbdttl{ width:100%;}
.dshbdttl h2{ font-size:18px; color:#fff; font-weight:300; width:100%; display:inline-block; text-transform:uppercase; margin-bottom:20px;}
.dshbdttl h2 i{ margin-right:15px;}

.dshbdttl2 h2{ color:#0080ff;}


.dshbxs{ width:100%;}
.dshbx{ background: url(../images/plan_bg.png) no-repeat center bottom, #fff;
-webkit-box-shadow: 0px 15px 32px 0px rgba(0,0,0,0.27);
-moz-box-shadow: 0px 15px 32px 0px rgba(0,0,0,0.27);
box-shadow: 0px 15px 32px 0px rgba(0,0,0,0.27);
width:100%; display:inline-block; padding: 24px 20px; background-size:cover;}
.dshbx h5{ font-size:20px; color:#0080ff; font-weight:bold; text-transform:capitalize; line-height:28px;
margin-bottom:8px;}
.dshbx h5 img{ display:inline-block; float:right;}
.dshbx h5 span{ font-size:14px; color:#0080ff; font-weight:300; display:block;}
.dshbx h3{ font-size:30px; color:#000; font-weight:normal;}
.dshbx h3 small{ display:inline-block; vertical-align: super; font-size:16px;}

.dshbdybtm{ width:100%; padding:30px 20px;}

.chartcont{ width:100%;}
.chartbx{ -webkit-box-shadow: 0px 15px 32px 0px rgba(0,0,0,0.27);
-moz-box-shadow: 0px 15px 32px 0px rgba(0,0,0,0.27);
box-shadow: 0px 15px 32px 0px rgba(0,0,0,0.27); border-radius:10px;
width:100%; display:inline-block; background:#fff; padding: 20px 20px;}
.chartbx h5{ width:100%; display:inline-block; font-size:16px; color:#0080ff; font-weight:300; text-transform:capitalize;
margin-bottom:30px;}
.chartbx h5 i{ margin-right:10px;}


.dashbody .navbar-header {
  background: #fff none repeat scroll 0 0;
}

.pribtc {
  display: inline-block;
  list-style: outside none none;
}
.pribtc li {
  background: #fff none repeat scroll 0 0;
  border-radius: 20px;
  color: #0a243e;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  margin: 0 5px;
  padding: 6px 15px;
  text-transform: uppercase;
}

.dastopcontent {
  background: rgba(0, 0, 0, 0)  url(../images/dastopcon.png) no-repeat scroll center/cover;
  padding:30px;
}

.daslindes h4 {
  color: #0a243e;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 0 24px;
  text-transform: capitalize;
}
.daslindes h4 a {
  color: #0080ff;

}

.linkdesdasbordmain ul {
  list-style: outside none none;
}

.btn-innerdesign {
  background: #fff none repeat scroll 0 0 !important;
  border: 2px solid #efefef;
  border-radius: 23px;
  color: #0a243e;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  padding: 7px 25px;
}


.linkdesdasbordmain {
  padding: 23px 0 0;
}
.btn-innerdesign:hover { background:#0080ff none repeat scroll 0 0 !important; color:#fff;}
.linkdesdasbordmain ul li {
  display: inline-block;
  margin: 0 5px 0 0;
}

.dascotd {
  margin: 31px 0;

}

.dasinfos, .dastable , .dascotd{
  padding: 0 30px;
}
.infoimgd {
  background: #0080ff none repeat scroll 0 0;
  display: inline-block;
  float: left;
  height: 104px;
  margin: 0 23px 0 0;
  padding: 32px 0 0;
  text-align: center;
  width: 60px;
}
.infodashsec h4 span {
  color: #8c8c8c;
  display: block;
  font-size: 24px;
}
.infodashsec {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  height: 104px;
  margin: 0 0 23px;
}

.infoimgd img {
  display: inline-block;
  width: 58%;
}

.infodashsec h4 {
  color: #0080ff;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  padding: 22px 0 0;
  text-transform: uppercase;
}

.boxdasdes {
  background: rgba(0, 0, 0, 0) url("../images/dasbox.png") no-repeat scroll center center / cover ;
  border-radius: 10px;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.2);
  height: 131px;
  padding: 34px 13px 0;
  width: 283px;
}


.imgsecdesdas {
  background: #000 none repeat scroll 0 0;
  border-radius: 50%;
  display: inline-block;
  float: left;
  height: 57px;
  margin: 0 17px;
  padding: 12px 0 0;
  text-align: center;
  width: 57px;
}
.boxdasdes h4, .imgdestra h4 {

  color: #bcbcbc;
  font-size: 18px;
  line-height: 28px;
  padding: 0 0 1px;
  text-transform: uppercase;
}

.dasclr1 .imgsecdesdas,.dasclr1 .imgdestra {
  background: #f99300 none repeat scroll 0 0;
}

.dasclr1 h4 span {
  color: #f99300;
}

.traboxsec.dasclr1 h4 {
  box-shadow: none;
}
.traboxsec.dasclr2 h4 {
  box-shadow: none;
}
.traboxsec.dasclr3 h4 {
  box-shadow: none;
}

.traboxsec h4 {
  color: #bcbcbc;
  padding: 10px 0 0;
  text-transform: uppercase;
}


.dasclr1 h4{
  box-shadow: -9px 0 0 0 #f99300;
}


.dasclr2 .imgsecdesdas, .dasclr2 .imgdestra {
  background: #0080ff none repeat scroll 0 0;
}

.dasclr2 h4 span {
  color: #0080ff;
}

.dasclr2 h4{
  box-shadow: -9px 0 0 0 #0080ff;
}

.dasclr3 .imgsecdesdas {
  background: #62688f none repeat scroll 0 0;
}

.dasclr3 h4 span {
  color: #62688f;
}

.dasclr3 h4{
  box-shadow: -9px 0 0 0 #62688f;
}

.dasclr4 .imgsecdesdas, .dasclr3 .imgdestra {
  background: #272c3e none repeat scroll 0 0;
}

.dasclr4 h4 span {
  color: #272c3e;
}

.dasclr4 h4{
  box-shadow: -9px 0 0 0 #272c3e;
}





.boxdasdes h4 span {
  display: block;
}


.imgsecdesdas img {
  display: inline-block;
}


.daslindes h3 {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  color: #000;
  display: inline-block;
  font-family: open sans;
  font-size: 14px;
  font-weight: 400;
  padding: 0 0 0 9px;
}

.daslindes h3 input {
  background: #0080ff none repeat scroll 0 0;
  color: #fff;
  font-family: montserrat;
  font-size: 14px;
  margin: 0 0 0 13px;
  padding: 10px 29px;
  text-transform: capitalize;
}



table thead th {
  background: #0080ff none repeat scroll 0 0;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 9px 32px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
}
table tbody tr td {
  background: #fff none repeat scroll 0 0;
  border-bottom: 1px solid #eaeaea;
  color: #000;
  font-size: 13px;
  font-weight: 400;
  padding: 10px 32px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
}

.table-responsive {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

}

.tablede h3 {
  color: #0a243e;
  font-size: 20px;
  padding: 15px 0 26px;
  vertical-align: middle;
}


.tablede h3 i {
  border-radius: 50%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 29px;
  height: 63px;
  line-height: 63px;
  margin: 0 18px 0 0;
  text-align: center;
  vertical-align: middle;
  width: 63px;
}

.tablede i {
  color: #0080ff;
}

.tablede {
  padding: 0 0 39px;
}


.timeredes {
  text-align: center;
}

.imgdestra {
  background: #000 none repeat scroll 0 0;
  border-radius: 50%;
  display: inline-block;
  float: left;
  height: 49px;
  margin: 0 15px 0 0;
  padding: 10px 0 0;
  text-align: center;
  width: 49px;
}


.imgdestra img {
  display: inline-block;
}

.traboxsec {
  background: #fff none repeat scroll 0 0;
  border-radius: 25px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  height: 56px;
  padding: 4px;
}


.timeredes .btn-success {
  background: #39b54a none repeat scroll 0 0;
  border: medium none;
  display: inline-block;
  margin: 25px 0;
}

.timerscle {
  transform: scale(0.6);
}



.slider_bar {
  display: inline-block;
  padding: 0 0 39px;
  width: 59%;
  position: relative;
}

.timeredes .tooltip {
  bottom: -67px;

}

/* Countdown */

.countDays, .countHours, .countMinutes, .countSeconds {
  background: #fff none repeat scroll 0 0;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #1db8d3;
  height: 130px !important;
  margin: 0 7px;
  padding: 23px 0 0;
  width: 130px;
}


.countdownHolder{ font-size:50px;font-family: 'Ubuntu', sans-serif;
  text-align:center; font-weight:bold;}
.digit{width: 41px; background:none;}
.countdownHolder > span {
  letter-spacing: -20px;
  margin: 0 18px 0 0;
  position: relative;
}

.timermargin {
  display: inline-block;
  margin: -11px 0;
  width: 100%;
}

.counterimge {
  text-align: right;
}

.counterimge h3 {
  background: rgba(0, 0, 0, 0) url("../images/couterbg.png") no-repeat scroll left center;
  color: #fff;
  display: inline-block;
  font-size: 28px;
  font-weight: 800;
  height: 138px;
  padding: 39px 124px;
  text-align: left;
  text-transform: uppercase;
  width: 317px;
}


.counterimge h3 span {
  display: block;
}


.countdownHolder > span::after {
  bottom: 33px;
  color: #0a243e;
  display: inline-block;
  font-family: ubuntu;
  font-size: 12px;
  font-weight: 400;
  left: 6px;
  letter-spacing: normal;
  line-height: normal;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}


.timerscle .countdownHolder > span::after {
  bottom: 27px;
  color: #0a243e;
  display: inline-block;
  font-family: ubuntu;
  font-size: 18px;
  font-weight: 400;
  left: 6px;
  letter-spacing: normal;
  line-height: normal;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}


.countDays:after{content:"days";}
.countHours:after{content:"hours";}
.countMinutes:after{content:"mins";}
.countSeconds:after{content:"secs";}

.timer_content{ width:100%; display:inline-block;}
.timersect {
  background: #1db8d3 none repeat scroll 0 0;
}

.timersect div {
  z-index: 4;
}
.slider_bar .slider.slider-horizontal { height: 24px; width: 100%;}
.slider_bar .slider.slider-horizontal .slider-track { height: 8px; margin-top: -4px;}
.slider_bar .slider-track-low, .slider-track-high{ background:#ebebebe;}
.slider_bar .slider-selection {
  background: #0080ff none repeat scroll 0 0;
}

.slider_bar .slider-handle {
  background: #0080ff none repeat scroll 0 0;
  border: 0 solid transparent;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  filter: none;
  height: 24px;
  position: absolute;
  top: 0;
  width: 24px;
}

.slider_bar .slider{ margin-bottom:10px;}
.slider_bar .min-value {
  color: #0080ff;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  left: 0;
  position: absolute;
}

.selectdes {
  margin: 0 0 25px;
  width: 179px;
}


.slider_bar .max-value {
  color: #0080ff;
  display: inline-block;
  float: right;
  font-size: 18px;
  font-weight: bold;
}


.slider_bar .tooltip{}
.slider_bar .tooltip-inner{ background:none;}
.slider_bar .tooltip.top .tooltip-arrow{ display:none;}

.tooltip-inner {
  border-radius: 30px;
  color: #bcbcbc;
  font-family: ubuntu;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
}

.tooltip.top .tooltip-arrow{ border-top-color:#0a1552;}

.slider .tooltip.top {
  margin-top: -60px;
}

.deposithead {
  text-align: center ;
}
.deposithead .title{ color: #0080ff !important;
}

.deposithead .title::after{ content: inherit !important;
}

.deposithead > h4 {
  color: #0a243e;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 0 0;
}
.selectdes select {
  display: inline-block;
  padding: 0;
  width: auto;
}

.selectdes span {
  color: #0080ff;
  font-size: 13px;
  font-weight: 400;
  padding: 0 7px 0 0;
}

.depodesta {
  padding: 24px 0 19px;
}


td img {
  display: inline-block !important;
  margin: 0 5px 0 0;
}





.tabledepsoitcontdes {
  text-align: center;
}


.tabledepsoitcontdes label {
  font-size: 13px;
  font-weight: 400 !important;
}




.tabledepsoitcontdes > h5 {
  background: #0a243e none repeat scroll 0 0;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  padding: 13px 0;
}
.tabledepsoitcontdes h3 {
  color: #0080ff;
  font-size: 16px;
  padding: 8px 0;
  text-decoration: underline;
}
.error {
  color: #ff3333;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.tabledepsoitcontdes p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 3px 0;
}


  .ashclr {
  color: #bcbcbc;
}
.ashclr > a {
  color: #0080ff;
  text-decoration: underline !important;
}
.deposithead > h4 span {
  color: #39b54a;
  font-size: 24px;
  font-weight: 400;
}

.deposithead > p {
  color: #000;
  font-size: 14px;
}

.regheadsec {
  background: rgba(0, 0, 0, 0)  url(../images/regisbg.png) no-repeat scroll center/cover;
  padding: 62px 0;
}

.regdesdleft {
  text-align: center;
}

.regdesdleft img{ display: inline-block;
}


.headerdes {
  background: #091f36 none repeat scroll 0 0;
}
.regbre {
  padding: 8px 0 0;
  text-align: right;
  margin-right: 40px;
}

.regbre span a, .regbre span i {
  color: #fff;
  font-size: 14px;
  padding: 0 5px;
}

.regbre span a:hover{ color:#0080ff;}


.reginr {
  margin: 0 0 21px 0;
  position: relative;
}

.regformsec {
  border-bottom: 2px solid #ededed;
  border-left: 2px solid #ededed;
  border-radius: 0 10px 10px;
  border-right: 2px solid #ededed;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  padding: 28px 24px;
}


.chckbx {
  display: inline-block;
  margin: 14px 0;
}

.logindes .chckbx {
  width: 100%;
}


.chckbx p {
  color: #999999;
  display: inline-block;
  font-family: open sans;
  font-size: 14px;
  text-transform: capitalize;
}

.chckbx span a {
  color: #0080ff;
  float: right;
  font-family: open sans;
}


.regformsec.logindes {
  padding-bottom: 88px;
}

.reghole h3 {
  color: #0080ff;
  font-size: 25px;
  font-weight: 300;
  padding: 16px 0 4px;
}

.reghole h3 i {
  padding:0 10px 0 0;
}

.submitbtns {
  display: inline-block;
  float: right;
}
.submitbtns .btn {
  display: inline-block;
  padding: 9px 23px !important;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #fff;
  border-color: #ededed #ededed transparent;
  border-image: none;
  border-style: solid;
  border-width: 2px;
  color: #0080ff;
  cursor: default;
}

.regtapsecded .nav > li > a {

  display: block;
  padding: 6px 47px;
  position: relative;
}

.regtapsecded .nav > .active > a {
  border-bottom: medium none;
  padding: 15px 47px; color:#0080ff;
}

.regtapsecded {
  margin: 30px 0 0;
}

.regtapsecded .nav-tabs{ font-size:0px !important;}

.regtapsecded .nav-tabs > li {
  display: inline-block !important;
  float: none !important;
  margin-bottom: -1px !important;
  vertical-align: bottom;
}

.regtapsecded .nav-tabs > li > a {
  background-color: #fff;
  border: 2px solid #ededed;
  border-radius: 10px 10px 0 0;
  color: #bcbcbc;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.42857;
  margin-right: 0;
}


.reginr > span {
  bottom: 0;
  height: 40px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
}


.reginr > span i {
  background: #2cb8d1 none repeat scroll 0 0;
  border-radius: 5px 0 0 5px;
  color: #fff;
  display: inline-block;
  font-size: 19px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
}


/* Media Queries */

@media only screen and (max-width: 1200px){
	.traboxsec {
    height: auto;
    margin: 0 0 13px;
    text-align: center;
  } .imgdestra {
    float: none;
    margin: 0;
  } .boxdasdes {
    width: auto;
  } .footersoci {
    text-align: center;
  } .footerbtm h6 {
    padding: 0 0 11px;
  } .footersec, .footerbtm, .termscontd {
    text-align: center;
  } .teamdes > h3 img {
    border-radius: 50%;
    display: block;
    margin: auto;
  } .teamdes {
    text-align: center;
  } .tokendescri {
    text-align: center;
  } .pribtc {
    display: none;
  } .navbar-collapse {
    border-bottom: medium none;
    border-top: medium none;
    height: auto !important;
    padding-left: 0;
    padding-right: 0;
  } .infodashsec h4 span {
    font-size: 19px;
  }
}

@media only screen and (max-width: 991px){
	.regbre {
    padding: 0 0 20px;
    text-align: center;
  } .headerdes {
    text-align: center;
  } .headerdes img {
    display:inline-block;
  } .reghole {
    text-align: center;
  } .daslindes h4 {
    padding: 20px 0 0;
  } .dastopcontent {
    text-align: center;
  } .boxdasdes {
    margin: 0 0 27px;
    width: auto;
  } .title {
    text-align:center;
  } .title::after, .title.centersect::before, .tokendescri::before {
    content: inherit;
  } .featcont p {
    width: auto;
  } .titldes {
    padding: 0 0 24px;
    text-align: center;
  } .bannertext {
    padding: 0 0 10px;
    text-align: center;
  } .counterimge {
    padding: 19px 0 0;
    text-align: center;
  } .roadmap {
    background: transparent none repeat scroll 0 0;
    /*padding: 53px 0;*/
  } .videdes {
    box-shadow: none;
    position: relative;
    text-align: center;
  } .counterimge h3 {
    background: #0a243e none repeat scroll 0 0;
    border-radius: 25px;
    height: auto;
    padding: 15px 0;
    text-align: center;
    width: 100%;
  } .videdes span {
    height: auto;
    width: 100%;
  } .deposithead span {
    display: block;
  }
}

@media only screen and (max-width: 979px){
/* .reg-ani {
    width: 80vw !important;
  }*/ .dynamic-headline {
    overflow: hidden;
  } .counterimge {
    opacity: 0;
  } .referral-box {
    width: 80vw;
  } .legend h4 {
    width: 80vw;
  } .chart1 {
    width: 40vw;
    height: 40vw;
  } .chart2 {
    width: 40vw;
    height: 40vw;
  }
}

@media only screen and (max-width: 800px){
  .video-ani img {
    width: 800px;
    height: 421px;
  } .vid-container {
    overflow: hidden;
  } .vid-container h3 {
    font-size: 16px;
  } .vid-text {
    width: 40vw !important;
    margin-top: 30px !important;
  } .vid-container .watch-video {
    height: 40px;
    width: 160px;
  } .team-section {
    margin-top: -200px;
  } .about {
    margin-top: 50px;
  } .referral-info {
    width: 90vw;
  } .sign-up p {
    width: 90vw;
  }
}


@media only screen and (max-width: 767px){
	.footerbtm h6 {
    font-size: 12px;
  } .footerbtm li {
    display: inline-block;
    padding: 0;
    width: 100%;
  } .btn-innerdesign {
    padding: 4px 8px;
  } .discrip {
    text-align: center;
  } .discrip li {
    text-align: center;
    width: auto;
  } .countDays, .countHours, .countMinutes, .countSeconds {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 0 8px #1db8d3;
    height: auto !important;
    margin: 0 !important;
    padding: 0 0 5px 0;
    width: auto; border-radius:0px;
  } .digit {
    width: auto;
  } .navbar-toggle {
    background-color: #1db8d3;;
    border-radius: 4px;
    margin-top: 18px;
  } .position {
    width: 28px;
  } .countdownHolder > span::after{
    content:inherit;
  } header .navbar-nav > li > a {
    padding: 6px 0;
  } header {
    position: relative;
    top: 0;
  } .banners {
    padding: 0 0 35px;
  } .bannertext h1 {
    font-size: 20px;
  } .bannertext h1 span {
    font-size: 20px;
    padding: 0 0 8px;
  } .referral-container {
    margin-top: -35px !important;
  } .mobile-margin {
    margin-top: 90px !important;
  }
}

@media only screen and (max-width: 731px) {
  .reg-border {
    width: 90vw;
  }
}

@media only screen and (max-width:600px){
  .chckbx span a {
    float: none;
    display: block;
    padding: 10px 0 0 0;
  } .submitbtns {
    float: none;
  } .dascotd .col-xs-6 {
    width: 100%;
  } .dshtprit {
    float: none;
  } .navbar-collapse {
    text-align: center;
  } .discrip li {
    text-align: center;
    width: 100%;
  } .secdes2 {
    text-align: center !important;
  } .faqsecde .accordion h4 {
    padding: 4px 57px 6px 30px;
  } .featuresdes .col-xs-6 {
    width: 100%;
  } .ourteamsec .col-xs-6 {
    width: 100%;
  } .countDays:after{content:"days"; margin-bottom: -33px !important;}
    .countHours:after{content:"hours"; margin-bottom: -33px !important;}
    .countMinutes:after{content:"mins"; margin-bottom: -33px !important;}
    .countSeconds:after{content:"secs"; margin-bottom: -33px !important;}
    .chart1 {
    width: 60vw !important;
    height: 60vw !important;
  } .chart2 {
    width: 60vw !important;
    height: 60vw !important;
  } .legend h4 {
    width: 95vw !important;
  }
}

@media only screen and (max-width: 520px){
	.ui-content-body {
    padding: 63px 0 0 !important;
  } .daslindes h3 input {
    display: block;
    margin: 10px auto;
  }
}

@media only screen and (max-width: 420px){
  .videdes span img {
    padding: 55px 0 0;
  } .regtapsecded .nav > .active > a {
    padding: 15px 29px;
  } .dynamic-headline p {
    width: 90vw;
  }
}

@media only screen and (max-width: 400px){
  .vid-container h3 {
    font-size: 12px;
  } .vid-text {
    width: 200px !important;
    margin-top: 20px !important;
  } .vid-container .watch-video {
    height: 30px;
    width: 120px;
  } .vid-container .watch-video h5 {
    font-size: 12px;
  } .team-section {
    margin-top: -350px;
  }
}

